{% extends 'catalog/base.html' %}

{% load static %}
{% load mediapath %}


{% block content %}
    <div class="col-md-9">

        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        <img src="{% mediapath object.image %}"/></div>
                    <div class="col-md-6">

                        <h1 class="display-5 fw-bolder">Название товара: {{ object.title }}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text">Цена: {{ object.price }} $ </span>

                        </div>
                        <p class="lead"> Описание товара: {{ object.description }} </p>
                        <p class="lead">Дата создания карточки: {{ object.creation_date }}</p>
                        <p class="lead">Дата обновления карточки: {{ object.modification_date }}</p>

                        </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                            <a href="{% url 'catalog:home' %}" class="btn btn-lg btn-block btn-outline-primary">Назад</a>
                        {% if object.owner == request.user or request.user.is_superuser %}
                            <a href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                            <a href="{% url 'catalog:delete_product' object.pk%}" type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                        {% elif perms.catalog.сan_change_desc %}
                            <a href="{% url 'catalog:update_moderator' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                        {% endif %}
                        <a href="{% url 'catalog:version' object.pk%}" type="button" class="btn btn-lg btn-block btn-outline-primary">К версиям продукта</a>
                        </div>



                    </div>
                </div>
            </div>


    </div>


{% endblock %}